.ant-skeleton.ant-skeleton-active {
  border: 1px solid #e8e8e8;
}

.ant-skeleton.ant-skeleton-active .ant-skeleton-content {
  padding: 5px 10px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loading {
  display: none;
}
