.data-col.ant-col.gutter-row {
  margin-bottom: 16px;
}

.data-row.ant-row-flex.ant-row-flex-center.data-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 500px) {
  .data-row.ant-row-flex {
    margin: 0 !important;
  }
}
